body {
  background-color: #f9f7fe;
  text-align: center;
  
}

a {
  color: #9670f4;
  text-decoration: none;
  
}
img {
  box-shadow: #9670f4;
  max-width: 300px;
  margin: 15px;
  
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  background-color: white;
  margin: 30px 0;
  font-size: 24px;
  color: rgb(9, 11, 23);
  opacity: 0.5;
}
.DictionaryImg {
  text-align: left;
}

.WeatherImg {
  text-align: right;
  padding-bottom: 20px;
  
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}






